.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.form {
  width: 500px;
  height: 500px;
}
