:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.8em 1.6em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #213547;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: #1a2a3a;
  border-color: #213547;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
